h1{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}
h2{
    font-family: 'Quicksand', sans-serif; 
    font-weight: bold;
}
h3{
    font-family: 'Quicksand', sans-serif; 
    font-weight: bold;
}
h4{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold; 
}
h5{
    font-family: 'Quicksand', sans-serif; 
    font-weight: bold;
}
h6{
    font-family: 'Quicksand', sans-serif; 
    font-weight: bold;
}
span{
    font-family: 'Roboto', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
}
label{
    font-family: 'Roboto', sans-serif;
}
li{
    font-family: 'Roboto', sans-serif;  
}
strong{
    font-family: 'Roboto', sans-serif; 
}
option{
    font-family: 'Roboto', sans-serif; 
}
button {
    font-family: 'Quicksand', sans-serif; 
    font-weight: bold;
}
a{
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
}
input{
    font-family: 'Roboto', sans-serif; 
}
textarea{
    font-family: 'Roboto', sans-serif; 
}

.tamano-fuente25{
font-size: 2.5em;
}
.tamano-fuente18{
    font-size: 1.5em;
}
.tamano-fuente17{
    font-size: 1.2em;
}
.tamano-fuente16{
    font-size: 1em;
}
.tamano-fuente12{
    font-size: 0.75em;
}

.tamano-fuente10{
    font-size: 0.70em;
}
.color-azul{
    color: #186BD9;
}
.color-negro{
    color: black;
}
.color-gris-textos{
    color: #736E6C;
}
.backgraund-blanco{
    background: #FFFFFF;
}
.backgraund-azul{
    background: #186BD9;
}
.backgraund-gris-oscuro{
    background: #AAAAAA;
}
.backgraund-gris-claro{
    background: #e8e8e8;
}
.fa-star{
    color: #ffc107;
}
.fa-star-half-alt{
    color: #ffc107;
}
