

html {
    min-height: 100%;
    position: relative;
}

.ajusteContenido{
    display: flex;
    flex-direction:row;
    justify-content: space-between;

}

.noPadMar {
    padding: 0% !important;
    margin: 0% !important;
}
ul{
    list-style:none;
    padding-left: 0%;
}


.paddingTopRespectoHeader {
    padding: 6% 0% 0% 0%;
}

.marginTopRespectoHeader {
    margin-top: 3.5%;
    /*margen con respecto al header para toda la pagina*/
    min-height: 100vh;
}


body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.alineacionFooter {
    min-height: 48.15vh;
}

.ajustarContenido{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.textoImputFile {
    text-align: center;
    color: white;
}

.divFile {
    position: relative;
    padding: 5px;
    width: 150px;
    background-color: #2499e3;
    border-radius: 5px;
    margin-top: 10px;
}

.inputFile {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
}

.divFileFotoPerfil {
    position: relative;
    padding: 10px;
    width: 150px;
    background: url($urlZaabra +'img/AgregarIconos.png') no-repeat;
    background-position: center;
    border-radius: 5px !important;
    margin-top: 10px;
}

.inputFileFotoPerfil {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: auto;
}

.imagenAjustadaContenedor {
    height: 100%;
}
.galeriaPremium{
    padding-bottom: 3.5%;
}
.margin-con-respecto-footer-2{
    margin-bottom: 2%;
}

